input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

.container {
  padding: 0 16px;
}

header.show-mobile .menu-mobile {
  max-height: 500px !important;
  opacity: 1 !important;
  visibility: visible;
}

@media (max-width: 1024px) {
  .container {
    max-width: 100% !important;
  }
}

.slick-dots {
  bottom: 30px !important;
}

.slick-dots li button:before {
  font-size: 12px !important;
}

.my-line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 20px;
}

.my-line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 40px;
}

.my-line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 40px;
}

.ant-form-item {
  margin-bottom: 12px !important;
}

.ant-form-item-label {
  padding-bottom: 4px !important;
}

@media (max-width: 768px) {
  .container {
    max-width: 100% !important;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

/* .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  position: relative;
  top: 200px;
} */
/* .card-hover {
  transition: opacity 0.3s ease;
}

.card-hover:hover {
  opacity: 2;
  box-shadow: 4px 6px 2px 0 rgba(98, 97, 97, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  /* transform: translateY(-2px); */
/* } */

/* .slider-product .swiper-button-prev {
  right: 10%;
  left: unset;
  top: -25%;
  color: rgb(160, 167, 177);
  width: 50px;
  height: 70px;
} */
.slider-product .swiper-button-prev:hover {
  border: 2px solid rgb(207, 209, 212);
  border-radius: 9999px;
}

/* 
.slider-product .swiper-button-next {
  right: 5%;
  left: unset;
  top: -25%;
  color: rgb(148 163 184);
  width: 50px;
  height: 70px;

} */
.slider-product .swiper-button-next:hover {
  border: 2px solid rgb(207, 209, 212);
  border-radius: 9999px;
}

.slider-product .swiper {
  /* overflow: visible; */
}

.slider-product .swiper-pagination-horizontal {
  opacity: 0;
}

.glide__track .slick-dots {
  position: unset;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none !important;
}

.css-dev-only-do-not-override-1rqnfsa.ant-upload-wrapper .ant-upload-list .ant-upload-list-item .ant-upload-list-item-name {
  white-space: normal !important;
}

.ant-modal-footer .ant-btn-primary {
  background-color: #ff385c !important;
}

.ant-modal-footer .ant-btn-primary:hover {
  background-color: #cf3350 !important;
}

body .ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.195) !important;
  /* Điều chỉnh độ mờ của nền */
}

.voucher-modal-client .ant-modal-footer .ant-btn-primary {
  background-color: #ff385c !important;
}

.ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns .ant-btn-primary {
  background-color: #ff4d4f !important;
}

.order-client .ant-tabs-nav-wrap * {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  /* justify-content: center !important; */
  /* align-items: center !important; */
}

.order-client .ant-tabs-nav-list {
  /* display: contents !important; */
  /* text-align: center !important; */
}

.order-client .ant-tabs-nav-list .ant-tabs-tab {
  font-size: 14px;
  border: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
  height: 60px;
}

.order-client .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active {
  background-color: #FAFAFA;
  border-bottom: 2px solid #62d2a2 !important;
}

.order-client .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active * {
  color: #62d2a2 !important;

}

.order-client .ant-tabs-nav-list .ant-tabs-tab:hover {
  color: black;
}

.ant-picker-panel-layout .ant-picker-ok .ant-btn-primary {
  background-color: #1677ff !important;
  color: white !important;
}

/* width: 80vh;
  max-width: 547px; */
.hidden img {
  border-radius: 100%;
}

.hidden img {
  border-radius: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}